{% if exists("publicFunctions") %}

{% for child in publicFunctions %}### {{child.name}}()

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("publicAttributes") %}

{% for child in publicAttributes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}





{% if exists("publicTypes") %}## Public Types

{% for child in publicTypes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedTypes") %}## Protected Types

{% for child in protectedTypes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedFunctions") %}## Protected Functions

{% for child in protectedFunctions %}### {{child.name}}()

{{ render("member_details", child) }}
{% endfor %}{% endif -%}

{% if exists("protectedAttributes") %}## Protected Attributes

{% for child in protectedAttributes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif -%}