**[{{name}}]({{url}})**({% for param in params -%}
{{param.type}} {{param.name}}{% if existsIn(param, "defval") %} ={{param.defval}}{% endif -%}
{% if not loop.is_last %}, {% endif -%}
{% endfor %}){% if const %} const{% endif -%}
{% if override %} override{% endif -%}
{% if default %} =default{% endif -%}
{% if deleted %} =delete{% endif -%}
{% if pureVirtual %} =0{% endif -%}
;