{% if exists("publicTypes") %}## Types

{% for child in publicTypes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif %}
{% if exists("publicFunctions") %}## Functions

{% for child in publicFunctions %}### {{child.name}}()

{{ render("member_details", child) }}
{% endfor %}{% endif %}
{% if exists("publicAttributes") %}## Attributes

{% for child in publicAttributes %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif %}
{% if exists("defines") %}## Macros

{% for child in defines %}### {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif %}