[submodule "docs_generator/doxybook2"]
	path = docs_generator/doxybook2
	url = https://github.com/JulesFouchy/doxybook2
[submodule "tests/p6"]
	path = tests/p6
	url = https://github.com/JulesFouchy/p6
